body {
	overflow-x: hidden; 
	scrollbar-face-color: white;
}

.navbar-default {
	border: none;
}

nav ul li {
	font-weight: bold;
	border: thin !important;
	border-color: #fff;
}

.cvr-img {
	max-width: 100%;
	display: block;
	margin: auto;
}

footer {
	padding: 20px;
}

footer ul {
	
}

footer li {
	float: left;
	list-style: none;
	padding: 0 20px 0 20px;
	font-weight: bold;	
	font-size: 0.8em;
	margin: auto;
	
}

footer p#copy{
	text-align:right;
	font-size: 0.7em;
	font-weight: bold;
}

#footermid {
	display: none;
}

footer p#dev{
	text-align:right;
	font-size: 0.65em;
	font-weight: normal;
}

footer a:link, a:visited, a:hover, a:active  {
	color: #000;
	text-decoration: none !important;
}

/* Media Queries */




